@* @page "/StockDetails" *@

<img src="@Stock.Branding.LogoUrl" alt="..." height="75" />
<p>Name: @Stock.Name</p>
<p>Ticker: @Stock.Ticker</p>

@if (Stock.CurrencyName != null)
{
    <p>Currency name: @Stock.CurrencyName</p>
}
else
{
    <p>Currency name: no data</p>
}

@if (Stock.PhoneNumber != null)
{
    <p>Phone number: @Stock.PhoneNumber</p>
}
else
{
    <p>Phone number: no data</p>
}

@if (Stock.Address != null)
{
    <p>Address1: @Stock.Address.Address1</p>
    <p>City: @Stock.Address.City</p>
    <p>State: @Stock.Address.State</p>
    <p>Postal code: @Stock.Address.PostalCode</p>
}
else
{
    <p>Address: no data</p>
}

@if (Stock.Description != null)
{
    <p>Description: @Stock.Description</p>
}
else
{
    <p>Description: no data</p>
}

@if (Stock.ListDate != null)
{
    <p>List date: @Stock.ListDate</p>
}
else
{
    <h5>List date: no data</h5>
}

@if (Stock.TotalEmployees != null)
{
    <p>Total employees: @Stock.TotalEmployees</p>
}
else
{
    <p>Total employees: no data</p>
}

@if (Stock.HomepageUrl != null)
{
    <p>Home page: <a href="@Stock.HomepageUrl">@Stock.HomepageUrl</a></p>
}


@code {
    
    [Parameter]
    public StockDTO Stock { get; set; }
    
}