<h2>StockArticles</h2>

@foreach (var article in Articles.Results)
{
    <p>
        <b>@article.Author - @article.PublishedUtc</b>
        <h5>@article.Title</h5>
        <a href="@article.ArticleUrl">@article.ArticleUrl</a>
    </p>
}

@code {
    
    [Parameter]
    public PolygonArticleDTO Articles { get; set; }
    
}