@inject HttpClient _client

<div style="display: flex">
    <SfAutoComplete TValue="string" TItem="StockShortDTO" Placeholder="Search stock" DataSource="@LocalData">
        <AutoCompleteFieldSettings Value="Ticker" />
        <AutoCompleteEvents TValue="string" TItem="StockShortDTO" Filtering="OnFilter" OnValueSelect="@(args => Ticker = args.ItemData.Ticker)" />
        <AutoCompleteTemplates TItem="StockShortDTO">
            <ItemTemplate>
                <div>
                    <span style="float: left">@context.Ticker</span>
                    <span style="float: right">@context.Name</span>
                </div>
            </ItemTemplate>
        </AutoCompleteTemplates>
    </SfAutoComplete>
    <button class="btn btn-primary" @onclick="@(() => OnSearch.InvokeAsync(Ticker))">Search</button>
</div>

@code {
    
    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    public string Ticker;
    List<StockShortDTO> LocalData;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await _client.GetFromJsonAsync<SearchStocksListDTO>("api/stocks");
        
            LocalData = response.Results.ToList();
        }
        catch (Exception)
        {
            Console.WriteLine("Stock not found or API Polygon doesn't response");
        }

        await base.OnInitializedAsync();
    }

    private async Task OnFilter(FilteringEventArgs args)
    {
        Ticker = args.Text;
        
        try
        {
            var response = await _client.GetFromJsonAsync<SearchStocksListDTO>($"api/stocks?search={Ticker}");
        
            LocalData = response.Results.ToList();
        }
        catch (Exception)
        {
            Console.WriteLine("500 -> brak odpowiedzi od polygon API");
        }
    }
    
}